.articles {
	&--title {
		color: white;
		font-family: "Oswald", sans-serif;
		text-transform: uppercase;
		line-height: 1;
		margin: 0;
		padding: 0;
		margin-left: em(25);
		font-size: 100%;
		span { font-size: em(40); }
	}
	&--blocks {
		font-family: "Montserrat", sans-serif;
		padding-top: em(36);
		&--item {
			background-color: #262626;
			display: flex;
			position: relative;
			@media only screen and (max-width: 530px) {
				max-width: 278px;
				flex-direction: column;
			    margin: 0 auto;
			}
			&:nth-child(2n) {
				background-color: #fff;
				.item--header h1 {
					color: #262626;
				}
			}
			.item--image {
				width: 278px;
				height: 187px;
				position: relative;
				overflow: hidden;
				img {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.item--header  {
				margin: em(28);
				position: relative;
				@media only screen and (max-width: 530px) {
					height: 7em;
				}
				h1 {
					color: #fff;
					font-size: em(24);
					margin: 0;
					padding: 0;
					@media only screen and (max-width: 1350px) {
					    font-size: 1.7vw;
					}
					@media only screen and (max-width: 1060px) {
						font-size: em(24);
					}
					@media only screen and (max-width: 730px) {
					    font-size: 3vw;
					}
					@media only screen and (max-width: 530px) {
						font-size: 100%;
					}
				}
				.item--separator {
					width: em(139);
					height: 2px;
					margin-top: em(19);
					background-color: $default-orange;
				}
				.item--date {
					position: absolute;
					bottom: 0;
					left: 0;
					color: #666666;
					font-size: em(16);
				}
			}
			.item--link {
				width: em(39);
				height: em(39);
				position: absolute;
				bottom: 0;
				right: 0;
				background-color: $default-orange;
				display: flex;
				justify-content: center;
				align-items: center;
				&--arrow {
					width: 4px;
					height: 15px;
					position: relative;
					&:before, &:after {
						content: "";
						position: absolute;
						width: 2px;
						height: 10px;
						background-color: #fff;
						left: 2px;
						transform: rotate(135deg);
					}
					&:after {
						transform: rotate(-135deg);
						top: 6px;
					}
				}
			}
		}
	}
	&--footer {
		font-family: 'Oswald', sans-serif;
		width: 93%;
		height: em(43);
		margin: 0 auto;
		display: flex;
		align-items: center;
		margin-top: em(32);
		&:before, &:after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: #262626;
			margin-right: em(8);
		}
		&:after {
			margin-right: 0;
			margin-left: em(8);
		}
		&--button {
			background-color: #262626;
			width: auto;
			height: 100%;
			padding: 0 em(42);
			display: flex;
			align-items: center;
			color: #fff;
			text-transform: uppercase;
			cursor: pointer;
			span { 
				font-size: 1em; 
				white-space: nowrap;
			}
		}
	}
}