.context {
	&--title {
		color: white;
		font-family: "Oswald", sans-serif;
		text-transform: uppercase;
		line-height: 1;
		margin: 0;
		padding: 0;
		margin-left: em(25);
		font-size: 100%;
		span { font-size: em(40); }
	}
	&--blocks {
		font-family: "Montserrat", sans-serif;
		padding: em(36) 0 0 0;
		margin: 0 auto;
		&--item {
			list-style: none;
			position: relative;
			border-bottom: 2px solid #262626;
			padding: em(15) 0 em(15) em(6);
			&:first-child {
				padding-top: em(5);
			}
			a {
				font-size: em(18);
				color: $default-orange;
				text-decoration: none;
				
				display: flex;

			}
		}
	}
}