.header {
	height: em(310);
	padding: em(22) em(40) 0 em(26);
	color: white;
	background: url('../images/header_bg.jpg') #000 no-repeat right center;
	background-size: auto 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	@media only screen and (max-width: 730px) {
		background-position: center center;
		padding: em(22) em(20) 0 em(20);
	}
	@media only screen and (max-width: 340px) {
		padding: em(22) em(10) 0 em(10);
	}
	&--title {
		position: absolute;
		top: em(72);
		left: em(178);
		@media only screen and (max-width: 730px) {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			img { height: em(85); }
		}
	}
	&--logo { 
		padding-top: em(23); 
		@media only screen and (max-width: 730px) {
			padding-top: 0;
			img { height: 40px; }
		}
	}
	&--nav {
		list-style: none;
		float: left;
		display: flex;
		padding: 0;
		margin: 0;
		.nav--item {
			font-family: 'Oswald', sans-serif;
			font-size: em(16);
			text-transform: uppercase;
			height: em(34);
			display: flex;
			align-items: center;
			border-right: 1px solid rgba(255,255,255,.4);
			padding: 0 em(13) 0 em(13);
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
				border-right: 0;
			}
			a {
				text-decoration: none;
				color: #fff;
			}
			&__active a { color: $default-orange; }
			&--socials a {
				font-size: 1.2em;
				padding-bottom: .2em;
				&:last-child { margin-left: .5em; }
			}
		}
	}
}