body.modal-opened {
	@media only screen and (max-width: 920px) {
	    height: 100vh;
    	overflow-y: hidden;
    }
}
input:focus {
	outline: 0;
}
.js-modal { display: none; }
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	display: flex;
	justify-content: center;
	align-items: center;
	&--content {
		width: 80%;
		max-width: em(1339);
		height: 90%;
		background-color: #252525;
		padding: em(30) em(22) em(30) em(52);
		box-sizing: border-box;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media only screen and (max-width: 920px) {
			width: 100%;
			height: 100%;
			padding: em(30) em(22);
		}
		&--header {
			display: flex;
			justify-content: space-between;
			@media only screen and (max-width: 756px) {
				flex-direction: column;
			}
		}
		&--title {
			line-height: 1;
			margin-top: em(16);
			@media only screen and (max-width: 756px) {
				order: 2;
				text-align: center;
				
			}
			&--heading {
				font-family: "Oswald", sans-serif;
				font-size: em(67);
				text-transform: uppercase;
				color: $default-orange;
				margin-bottom: em(3);
				@media only screen and (max-width: 756px) {
					font-size: em(37);
				}
			}
			&--subheading {
				font-family: "Montserrat", sans-serif;
				font-size: em(18);
				color: #fff;
				@media only screen and (max-width: 756px) {
					font-size: em(12);
				}
			}
		}
		&--close {
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: pointer;
			@media only screen and (max-width: 756px) {
				order: 1;
				padding-bottom: 1em;
			}
			.close-button {
				width: em(48);
				height: em(48);
				border: 1px solid #656565;
				border-radius: 50%;
				&--icon {
					position: relative;
					height: 100%;
					&:before, &:after {
						content: "";
						position: absolute;
						width: em(5);
						height: em(21);
						background-color: $default-orange;
						border-radius: 3px;
						top: 50%;
						left: 50%;
					}
					&:before {
						transform: translate(-50%, -50%) rotate(45deg);
					}
					&:after {
						transform: translate(-50%, -50%) rotate(-45deg);
					}
				}
			}
			span {
				font-family: "Montserrat", sans-serif;
				font-size: em(10);
				text-transform: uppercase;
				color: $default-orange;
				margin-top: em(9);
			}

		}

		/* Tiny Scrollbar */
		&--blocks { 
			width: 100%;
			height: calc(100% - 152px);
			padding-right: em(11);
			box-sizing: border-box;
			@media only screen and (max-width: 756px) {
				height: calc(100% - 195px);
			}
			@media only screen and (max-width: 370px) {
				height: calc(100% - 230px);
			}
			.viewport { 
				height: 100%; 
				overflow: hidden; 
				position: relative;
			}
			.overview { 
				list-style: none; 
				position: absolute; 
				left: 0; 
				top: 0; 
				padding: 0; 
				margin: 0; 
				padding-right: em(30);
				box-sizing: border-box;
				@media only screen and (max-width: 730px) {
					padding: 0;
				}
			}
			.scrollbar{ 
				position: relative; 
				background-position: 0 0; 
				float: right; 
				width: 15px; 
			}
			.track { 
				height: 100%; 
				width:15px; 
				position: relative; 
			}
			.thumb { 
				background-color: $default-orange;
				border-radius: 15px;
				height: 20px; 
				width: 15px; 
				cursor: pointer; 
				overflow: hidden; 
				position: absolute; 
			}
			.thumb .end {  display: none; }
			.disable { display: none; }
			.noSelect { 
				user-select: none; 
				-o-user-select: none; 
				-moz-user-select: none; 
				-khtml-user-select: none; 
				-webkit-user-select: none; 
			}
		}
	}
}

.main--blocks {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media only screen and (max-width: 920px) {
			justify-content: space-around;
		}
		@media only screen and (max-width: 730px) {
			padding: 0 em(26);
			box-sizing: border-box;
		}	
		.blocks--item {
			padding: em(13) 0;
			font-family: 'Montserrat', sans-serif;
			width: 24%;
			cursor: pointer;
			@media only screen and (max-width: 1500px) {
				font-size: 1vw;
			}
			@media only screen and (max-width: 1230px) {
				width: 32%;
				font-size: 1.5vw;
			}
			@media only screen and (max-width: 740px) {
				width: 45%;
				font-size: 2.5vw;
			}
			@media only screen and (max-width: 520px) {
				width: 100%;
				font-size: 4vw;
			}
			/* @media only screen and (max-width: 1800px) {
				width: 15vw;
			}
			@media only screen and (max-width: 1800px) {
				width: 23vw;
			}
			@media only screen and (max-width: 920px) {
				width: 45%;
			}
			@media only screen and (max-width: 420px) {
				width: 100%;
			} */
			figure {
				position: relative;
				margin: 0;
				border-bottom: 3px solid rgba(255,255,255,.2);
			}
			&--image {
				width: 100%;
			}
			&--details {
				top: 0;
				left: 0;
				width: 100%;
				height: 0;
			    padding-top: 69%;
				position: absolute;
				overflow: hidden;
				.item--id {
					position: inherit;
					top: 0;
					left: 0;
					width: em(39);
					height: em(39);
					background-color: $default-orange;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					span { font-size: em(14); }
				}
				.item--club {
					position: absolute;
					right: em(10);
					bottom: em(12);
					display: flex;
				}
			}
			&--caption {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: em(8) 0 em(12);
				@media only screen and (max-width: 1060px) {
					font-size: 90%;
				}
				@media only screen and (max-width: 540px) {
					font-size: 70%;
				}
				@media only screen and (max-width: 420px) {
					font-size: 100%;
				}
				.item--title {
					padding-left: em(12);
					h1, h2 {
						color: #fff;
						line-height: 1; 
						margin: 0;
						padding: 0;
						font-size: em(24);
					}
					h2 { 
						margin-top: .1em;
						color: $default-orange; 
						font-size: em(18);
					}
				}
				.item--tweets {
					padding-right: em(20);
					color: #fff;
					text-align: right;
					font-size: em(14);
					color: #666666;
					line-height: 1;
					&--count {
						font-size: em(30);
						color: #fff;
					}
				}
			}
			
			&__trending, &___falling {
				figure:after {
					content: "";
					position: absolute;
					top: em(15);
					right: em(13);
					width: 0;
					height: 0;
					border-style: solid;
					margin-left: em(13);
					border-width: 7px 7px 0 7px;
					border-color: $default-orange transparent transparent transparent;
				}
			}
			&__trending {
				figure:after {
					border-width: 0 7px 7px 7px;
					border-color: transparent transparent #fff transparent; 
				}
			}
		}
	}
