.mood {
	color: white;
	font-family: "Oswald", sans-serif;
	&--header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media only screen and (max-width: 450px) {
			flex-direction: column;
			align-items: flex-start;
		}
		&--title {
			color: white;
			text-transform: uppercase;
			line-height: 1;
			margin: 0;
			padding: 0;
			margin-left: em(25);
			font-size: 100%;
			span { font-size: em(40); }
		}
		&--controls {
			text-transform: uppercase;
			color: #5a5a5a;
			@media only screen and (max-width: 450px) {
				margin: em(5) 0 0 em(25);
			}
			span { font-size: em(20); }
			.controls--item {
				cursor: pointer;
				&__active {
					color: #fff;
					text-decoration: underline;
				}
			}
		}
	}
	&--blocks {
		padding: em(36) 0 0 0;
		display: flex;
		&:last-child {
			display: none;
		}
		@media only screen and (max-width: 450px) {
			padding-top: em(20);
		}
		&--item {
			width: 50%;
			&__active {
				$color: gray;
				.mood--blocks--item--status .status--wrapper--bar {
					background-color: #f26322; 
				}
			}
			&--status {
				height: 100%;
				border-bottom: 2px solid #262626;
				box-sizing: border-box;
				padding: 0 em(4);
				height: em(92);
				.status--wrapper {
					width: 100%;
					height: 100%;
					position: relative;
					overflow: hidden;
					&--bar {
						width: 100%;
						height: 0;
						background-color: #262626;
						position: absolute;
						bottom: em(7);
					}
				}
				
			}
			&--text {
				text-transform: uppercase;
				padding: em(7) em(4);
			}
		}
	}
}


.context {
	&--title {
		color: white;
		font-family: "Oswald", sans-serif;
		text-transform: uppercase;
		line-height: 1;
		margin: 0;
		padding: 0;
		margin-left: em(25);
		font-size: 100%;
		span { font-size: em(40); }
	}
	&--blocks {
		font-family: "Montserrat", sans-serif;
		padding: em(36) 0 0 0;
		margin: 0 auto;
		&--item {
			list-style: none;
			position: relative;
			border-bottom: 2px solid #262626;
			padding: em(15) 0 em(15) em(6);
			&:first-child {
				padding-top: em(5);
			}
			a {
				font-size: em(18);
				color: $default-orange;
				text-decoration: none;
				
				display: flex;

			}
		}
	}
}