.tweets {
	&--title {
		color: white;
		font-family: "Oswald", sans-serif;
		text-transform: uppercase;
		line-height: 1;
		margin: 0;
		padding: 0;
		margin-left: em(25);
		font-size: 100%;
		span { font-size: em(40); }
	}
	&--blocks {
		font-family: "Montserrat", sans-serif;
		padding-top: em(36);
		&--item {
			padding: 24px 25px;
			color: #fff;
			display: flex;
			background-color: #262626;
			&:nth-child(2n) {
				background-color: #141414;
			}
			.item--image { height: em(48); }
			.item--content {
				padding-left: em(22);
				&--header { 
					display: flex;
					@media only screen and (max-width: 530px) {
						flex-direction: column;
					}
				}
				&--link { 
					color: $default-orange;
					font-size: em(18);
					text-decoration: none;
				}
				&--username-date {
					color: #666666;
					margin-left: .5em;
					@media only screen and (max-width: 530px) {
						margin-left: 0;
					}
				}
				p {
					margin: .5em 0 0 0;
					padding: 0;
					font-family: "Open Sans", sans-serif;
					font-size: em(15);
					a {
						text-decoration: none;
						color: $default-orange;
					}
				}
				&--footer {
					padding-top: em(25);
					span {
						color: #666666;
						font-size: 1em;
						padding: 0 em(20) 0 em(10);
					}
				}
			}

		}
	}
	&--footer {
		font-family: 'Oswald', sans-serif;
		width: 93%;
		height: em(43);
		margin: 0 auto;
		display: flex;
		align-items: center;
		margin-top: em(32);
		&:before, &:after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: #262626;
			margin-right: em(8);
		}
		&:after {
			margin-right: 0;
			margin-left: em(8);
		}
		&--button {
			background-color: #262626;
			width: auto;
			height: 100%;
			padding: 0 em(42);
			display: flex;
			align-items: center;
			color: #fff;
			text-transform: uppercase;
			cursor: pointer;
			span { 
				font-size: 1em; 
				white-space: nowrap;
			}
		}
	}
}