doctype html
html
	head
		title 888
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="css/compare.css" type="text/css" rel="stylesheet")
	body
		main.wrapper
			include ./components/_header.jade
			.main
				div.main--wrapper
					figure.main--wrapper--manager.main--wrapper--manager__trending
						img(src="images/manager-large-img.jpg").main--wrapper--manager--image
						figcaption
							.main--wrapper--manager--id
								span 1
							.main--wrapper--manager--club
								img(src="images/club-img.png")
					div.main--wrapper--parts
						header.main--wrapper--info 
							.main--wrapper--info--header
								.main--wrapper--info--name Guus Hiddink
								.main--wrapper--info--club-name Chelsea
							.main--wrapper--info--compare.js-modal-open
								span Compare managers
				div.main--wrapper
					figure.main--wrapper--manager.main--wrapper--manager__falling
						img(src="images/manager-large-img.jpg").main--wrapper--manager--image
						figcaption
							.main--wrapper--manager--id
								span 2
							.main--wrapper--manager--club
								img(src="images/club-img.png")
					div.main--wrapper--parts
						header.main--wrapper--info 
							.main--wrapper--info--header
								.main--wrapper--info--name Guus Hiddink
								.main--wrapper--info--club-name Chelsea
							.main--wrapper--info--compare.js-modal-open
								span Compare managers
			#js-chart.chart
			.additional-blocks
				include ./components/_tweets.jade
				.additional-blocks--aside
					include ./components/_mood.jade
					include ./components/_context.jade
					include ./components/_articles.jade
			include ./components/_modal.jade

		script(src="https://code.jquery.com/jquery-2.2.1.min.js")
		script(src="js/compare.js")