doctype html
html
	head
		title 888
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="css/main.css" type="text/css" rel="stylesheet")
	body
		main.wrapper
			include ./components/_header.jade
			.main
				.main--tabs
					.main--tabs--rating-tabs
						.tabs--item.tabs--item__active 
							span Trending
						.tabs--item 
							span Falling
					.main--tabs--time-tabs
						.clock-icon
							i.fa.fa-clock-o
						.tabs--item.tabs--item__active 
							span 24HRS
						.tabs--item 
							span 48HRS
						.tabs--item 
							span ALL TIME
				.main--blocks
					- for (var i = 0; i < 4; ++i) {
						a(href="#").blocks--item.blocks--item__trending
							.blocks--item--wrapper
								.blocks--item--wrapper--image
									img(src="images/manager-img.jpg")
									i.fa.fa-plus-circle
								.blocks--item--wrapper--details
									.item--id
										span= i+1
									.item--club
										img(src="images/club-img.png")
								figcaption.blocks--item--wrapper--caption
									.item--title
										h1 Pochettino
										h2 Tottenham
									.item--tweets
										span Tweets
										.item--tweets--count 469
					- }
					- for (var i = 0; i < 4; ++i) {
						a(href="#").blocks--item.blocks--item__falling
							.blocks--item--wrapper
								.blocks--item--wrapper--image
									img(src="images/manager-img.jpg")
									i.fa.fa-plus-circle
								.blocks--item--wrapper--details
									.item--id
										span= i+1
									.item--club
										img(src="images/club-img.png")
								figcaption.blocks--item--wrapper--caption
									.item--title
										h1 Pochettino
										h2 Tottenham
									.item--tweets
										span Tweets
										.item--tweets--count 469
					- }

				.main--footer
					.main--footer--button
						span View more managers
			.additional-blocks
				- mainPage = true
				include ./components/_tweets.jade
				include ./components/_articles.jade