doctype html
html
	head
		title 888
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="css/inner.css" type="text/css" rel="stylesheet")
	body
		main.wrapper
			include ./components/_header.jade
			.main
				figure.main--manager.main--manager__trending
					img(src="images/manager-medium-img.jpg").main--manager--image
					figcaption
						.main--manager--id
							span 1
						.main--manager--club
							img(src="images/club-img.png")
				div.main--parts
					header.main--info 
						.main--info--header
							.main--info--name Guus Hiddink
							.main--info--club-name Chelsea
						.main--info--compare.js-modal-open
							span Compare managers
					#js-chart.main--info--chart
			.additional-blocks
				include ./components/_tweets.jade
				.additional-blocks--aside
					include ./components/_mood.jade
					include ./components/_context.jade
					include ./components/_articles.jade
			include ./components/_modal.jade

		script(src="https://code.jquery.com/jquery-2.2.1.min.js")
		script(src="js/inner.js")