@import '../components/_tweets.scss';
@import '../components/_context.scss';
@import '../components/_articles.scss';
@import '../components/_mood.scss';

.additional-blocks {
	margin: em(67) 0 4em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@media only screen and (max-width: 980px) {
		padding: 0 em(26);
	}
	.tweets {
		width: 66%;
		@media only screen and (max-width: 980px) {
			width: 100%;
		}
	}
	&--aside {
		width: 31%;
		.context {
			margin-top: em(50);
		}
		.articles {
			margin-top: em(50);
			.item--header {
				@media only screen and (max-width: 1120px) {
					margin: 1em;
				}
				@media only screen and (max-width: 980px) {
				    margin: 1.75em;
				}
				h1 {
					font-size: 1.2em;
					@media only screen and (max-width: 980px) {
						    font-size: 1.5em;
					}
					@media only screen and (max-width: 530px) {
						font-size: 100%;
					}
				}
			}
		}
		@media only screen and (max-width: 980px) {
			width: 100%;
			margin-top: em(47);
			.context--blocks {
				width: 70%;
			}
		}
		@media only screen and (max-width: 540px) {
			.context--blocks {
				width: 100%;
			}
		}
	}
}