@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawasome/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawasome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawasome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawasome/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawasome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawasome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-heart:before {
  content: "\f004";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-star:before {
  content: "\f005";
}
.fa-plus-circle:before {
  content: "\f055";
}