@import '../app.scss';
@import '../components/_header.scss';
@import '../layouts/_inner-columns.scss';
@import '../components/_modal.scss';


.header { height: em(227); }

.main {
	border-top: 2px solid $default-orange;
	padding-top: em(40);
	@media only screen and (max-width: 980px) {
		padding: em(40) em(26) 0;
	}
	@media only screen and (max-width: 680px) {
		flex-direction: column;
		align-items: center;
	}
	display: flex;
	justify-content: space-between;
	&--wrapper {
		width: 47%;
		@media only screen and (max-width: 680px) {
			width: 100%;
		}
		&:last-child {
			.main--wrapper--manager--id {
				background-color: #1d89cd;
			}
			.main--wrapper--info--club-name {
				color: #1d89cd;
			}
		}
		&--manager {
			position: relative;
			margin: 0;
			display: flex;
			flex-direction: column;
			&--image {
				width: 100%;
			}
			&--id {
				position: absolute;
				top: 0;
				left: 0;
				width: em(39);
				height: em(39);
				background-color: $default-orange;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				span { font-size: em(14); }
			}
			&--club {
				position: absolute;
				right: em(10);
				bottom: em(12);
				display: flex;
			}
			&__trending, &__falling {
				&:after {
					content: "";
					position: absolute;
					top: em(15);
					right: em(13);
					width: 0;
					height: 0;
					border-style: solid;
					margin-left: em(13);
					border-width: 7px 7px 0 7px;
					border-color: $default-orange transparent transparent transparent;
				}
			}
			&__trending {
				&:after {
					border-width: 0 7px 7px 7px;
					border-color: transparent transparent #fff transparent; 
				}
			}
		}
		&--parts {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
		    position: relative;
		    box-sizing: border-box;
		    @media only screen and (max-width: 980px) {
				padding: 0;
			}
		}
		&--info {
			width: 100%;
			font-family: "Montserrat", sans-serif;
			display: flex;
			justify-content: space-between;
			margin: em(25) 0 em(30);
			align-items: center;
			@media only screen and (max-width: 1200px) {
				font-size: 1.3vw;
			}
			@media only screen and (max-width: 730px) {
				flex-direction: column;
				margin-bottom: em(37);
				text-align: center;
			}
			@media only screen and (max-width: 680px) {
				flex-direction: row;
				margin: em(15) 0 em(50);
				text-align: left;
				font-size: 80%;
			}
			@media only screen and (max-width: 500px) {
				flex-direction: column;
				margin-bottom: em(37);
				text-align: center;
			}
			@media only screen and (max-width: 420px) {
				font-size: 70%;
			}
			&--name {
				color: #fff;
				font-size: em(36);
			}
			&--club-name {
				color: $default-orange;
				font-size: em(18);
			}
			&--compare {
				padding: 0 em(29);
				height: em(49);
				background-color: $default-orange;
				display: flex;
				align-items: center;
				cursor: pointer;
				@media only screen and (max-width: 730px) {
					width: em(180);
					justify-content: center;
					padding: 0;
					align-self: center;
					margin-top: em(20);
				}
				@media only screen and (max-width: 680px) {
					margin-top: 0;
				}
				@media only screen and (max-width: 500px) {
					margin-top: em(10);
				}
				@media only screen and (max-width: 420px) {
					margin-bottom: em(15);
				}
				span {
					font-family: "Oswald", sanf-serif;
					font-size: em(16);
					color: #fff;
					text-transform: uppercase;
				}
			}
		}
	}
}
.chart {
	height: em(207);
	@media only screen and (max-width: 980px) {
		padding: 0 em(26);
	}
	.highcharts-container {
		width: 100% !important;
	}
}