@import '../app.scss';
@import '../components/_header.scss';
@import '../layouts/_inner-columns.scss';
@import '../components/_modal.scss';

.header { height: em(227); }

.main {
	border-top: 2px solid $default-orange;
	padding-top: em(40);
	display: flex;
	@media only screen and (max-width: 980px) {
		padding: em(40) em(26) 0;
	}
	@media only screen and (max-width: 920px) {
		flex-direction: column;
		align-items: center;
	}
	&--manager {
		position: relative;
		margin: 0;
		display: flex;
		flex-direction: column;
		&--image {
			@media only screen and (max-width: 340px) {
			    height: 250px;
			}
		}
		&--id {
			position: absolute;
			top: 0;
			left: 0;
			width: em(39);
			height: em(39);
			background-color: $default-orange;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			span { font-size: em(14); }
		}
		&--club {
			position: absolute;
			right: em(10);
			bottom: em(12);
			display: flex;
		}
		&__trending, &__falling {
			&:after {
				content: "";
				position: absolute;
				top: em(15);
				right: em(13);
				width: 0;
				height: 0;
				border-style: solid;
				margin-left: em(13);
				border-width: 7px 7px 0 7px;
				border-color: $default-orange transparent transparent transparent;
			}
		}
		&__trending {
			&:after {
				border-width: 0 7px 7px 7px;
				border-color: transparent transparent #fff transparent; 
			}
		}
	}
	&--parts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		padding-left: em(33);
	    position: relative;
	    box-sizing: border-box;
	    @media only screen and (max-width: 920px) {
			margin-top: em(37);
			padding: 0;
		}
	}
	&--info {
		width: 100%;
		font-family: "Montserrat", sans-serif;
		display: flex;
		justify-content: space-between;
		@media only screen and (max-width: 730px) {
			flex-direction: column;
			margin-bottom: em(37);
			text-align: center;
		}
		&--name {
			color: #fff;
			font-size: em(36);
		}
		&--club-name {
			color: $default-orange;
			font-size: em(18);
		}
		&--compare {
			padding: 0 em(29);
			height: em(49);
			background-color: $default-orange;
			display: flex;
			align-items: center;
			cursor: pointer;
			@media only screen and (max-width: 730px) {
				width: em(180);
				justify-content: center;
				padding: 0;
				align-self: center;
				margin-top: em(20);
			}
			span {
				font-family: "Oswald", sanf-serif;
				font-size: em(16);
				color: #fff;
				text-transform: uppercase;
			}
		}
		&--header { 
			margin-bottom: em(37); 
			@media only screen and (max-width: 730px) {
				margin: 0;
			}
		}
		&--chart {
			width: calc(100% - 2.0625em);
			height: em(207);
			position: absolute;
			@media only screen and (max-width: 980px) {
				width: 100%;
			}
			@media only screen and (max-width: 920px) {
				position: static;
			}
			.highcharts-container {
				width: 100% !important;
			}
		}
	}
}