@import '../app.scss';
@import '../components/_header.scss';
@import '../components/_tweets.scss';
@import '../components/_articles.scss';

.main {
	font-family: 'Oswald', sans-serif;
	position: relative;
	z-index: 2;
	&--tabs {
		height: em(54);
		margin-top: em(-56);
		border-bottom: 2px solid $default-orange;
		display: flex;
		justify-content: space-between;
		padding: 0 em(34) 0 em(15);
		@media only screen and (max-width: 730px) {
			justify-content: center;
		}
		&--rating-tabs, &--time-tabs {
			display: flex;
			height: 100%;
		}
		.tabs--item {
			height: 100%;
			background-color: #2f2f2f;
			color: #fff;
			display: flex;
			align-items: center;
			padding: 0 em(21) 0 em(24);
			text-transform: uppercase;
			font-size: em(16);
			position: relative;
			margin-right: em(10);
			cursor: pointer;
			&:last-child { margin-right: 0; }
			&:after {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 7px 7px 0 7px;
				border-color: $default-orange transparent transparent transparent;
				margin-left: em(13);
			}
			&__active {
				background-color: $default-orange;
				cursor: default;
				&:after { 
					border-width: 0 7px 7px 7px;
					border-color: transparent transparent #fff transparent; 
				}
			}
		}
		&--time-tabs {
			align-items: center;
			.tabs--item {
				padding: 0 em(21);
				&:after { display: none; }
			}
			.clock-icon {
				color: $default-orange;
				margin-right: em(13);
				i { font-size: 2.1em; }
				@media only screen and (max-width: 340px) {
					display: none;
				}
			}
		}
		&--rating-tabs {
			@media only screen and (max-width: 730px) {
				display: none;
			}
		}
	}
	&--blocks {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-bottom: em(32);
		@media only screen and (max-width: 920px) {
			justify-content: space-around;
		}
		@media only screen and (max-width: 730px) {
			padding: 0 em(26) em(32);
			box-sizing: border-box;
		}	
		.blocks--item {
			padding-top: em(27);
			font-family: 'Montserrat', sans-serif;
			text-decoration: none;
			@media only screen and (max-width: 1391px) {
				width: 23vw;
			}
			@media only screen and (max-width: 920px) {
				width: 45%;
			}
			@media only screen and (max-width: 420px) {
				width: 100%;
			}
			&--wrapper {
				position: relative;
				margin: 0;
				border-bottom: 3px solid rgba(255,255,255,.2);
				&--image {
					position: relative;
					overflow: hidden;
					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: $default-orange;
						opacity: 0;
						z-index: 2;
						top: 0;
	    				left: 0;
	    				transition: all .3s ease-in-out;
					}
					img {
						width: 100%;
						transition: transform .3s ease-in-out;
						vertical-align: top;
					}
					i {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: 3;
						font-size: 2.5em;
						color: #fff;
						-webkit-backface-visibility: hidden;
   						backface-visibility: hidden;
   						opacity: 0;
   						transition: opacity .3s ease-in-out;
					}
				}
				&--details {
					top: 0;
					left: 0;
					width: 100%;
					height: 0;
				    padding-top: 69%;
					position: absolute;
					overflow: hidden;
					opacity: 1;
					transition: opacity .2s ease-in-out;
					.item--id {
						position: inherit;
						top: 0;
						left: 0;
						width: em(39);
						height: em(39);
						background-color: $default-orange;
						color: #fff;
						display: flex;
						justify-content: center;
						align-items: center;
						span { font-size: em(14); }
					}
					.item--club {
						position: absolute;
						right: em(10);
						bottom: em(12);
						display: flex;
					}
				}
				&--caption {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: em(12) 0 em(12);
					@media only screen and (max-width: 1060px) {
						font-size: 90%;
					}
					@media only screen and (max-width: 540px) {
						font-size: 70%;
					}
					@media only screen and (max-width: 420px) {
						font-size: 100%;
					}
					.item--title {
						padding-left: em(12);
						h1, h2 {
							color: #fff;
							line-height: 1; 
							margin: 0;
							padding: 0;
							font-size: em(24);
						}
						h2 { 
							margin-top: .1em;
							color: $default-orange; 
							font-size: em(18);
						}
					}
					.item--tweets {
						padding-right: em(20);
						color: #fff;
						text-align: right;
						font-size: em(14);
						color: #666666;
						line-height: 1;
						&--count {
							font-size: em(30);
							color: #fff;
						}
					}
				}
			}
			&:active {
				outline: none;
			}
			&:hover {
				.blocks--item--wrapper--image {
					&:after {
						transform: scale(.8);
						opacity: .4;
					}
					img { transform: scale(1.1); }
					i { opacity: 1; }
				}
				.blocks--item--wrapper--details {
					opacity: 0;
				}
			}
			&__trending, &__falling {
				.blocks--item--wrapper--details:after {
					content: "";
					position: absolute;
					top: em(15);
					right: em(13);
					width: 0;
					height: 0;
					border-style: solid;
					margin-left: em(13);
					border-width: 7px 7px 0 7px;
					border-color: $default-orange transparent transparent transparent;
				}
			}
			&__trending {
				.blocks--item--wrapper--details:after {
					border-width: 0 7px 7px 7px;
					border-color: transparent transparent #fff transparent; 
				}
			}
		}
	}
	&--footer {
		width: 76%;
		height: em(55);
		margin: 0 auto;
		display: flex;
		align-items: center;
		&:before, &:after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: $default-orange;
			margin-right: em(8);
			@media only screen and (max-width: 340px) {
				display: none;
			}
		}
		&:after {
			margin-right: 0;
			margin-left: em(8);
		}
		&--button {
			background-color: #fff;
			width: auto;
			height: 100%;
			padding: 0 em(42);
			display: flex;
			align-items: center;
			color: $default-orange;
			text-transform: uppercase;
			cursor: pointer;
			span { 
				font-size: 1em; 
				white-space: nowrap;
			}
		}
	}
}
.additional-blocks {
	margin: em(67) 0 4em;
	display: flex;
	justify-content: space-between;
	@media only screen and (max-width: 1060px) {
		padding: 0 em(26);
		flex-wrap: wrap;
	}
	.tweets, .articles {
		width: 49%;
		@media only screen and (max-width: 1060px) {
			width: 100%;
		}
	}
	.articles {
		@media only screen and (max-width: 1060px) {
			margin-top: em(47);
		}
	}
}