section.articles
	h1.articles--title 
		span Articles
	.articles--blocks
		- for (var i = 0; i < 3; ++i) {
			article.articles--blocks--item
				.item--image
					img(src="images/articles-img.jpg")
				header.item--header 
					h1 Van Gaal finds himself in the firing line again
					.item--separator
					.item--date February 18th
				a(href="#").item--link
					.item--link--arrow
		- }
	.articles--footer
		.articles--footer--button
			span More articles