header.header
	.header--title
		h1(hidden="") 888
		img(src="images/title.png" alt="Title")
	.header--logo
		img(src="images/logo.png" alt="Logo")
	ul.header--nav
		li.nav--item.nav--item__active
			a(href='#') Home
		li.nav--item 
			a(href="#") What is this?
		li.nav--item.nav--item--socials
			a(href="#") 
				i.fa.fa-facebook
			a(href="#") 
				i.fa.fa-twitter