section.tweets
	.main--tabs
		.main--tabs--rating-tabs
			.tabs--item.tabs--item__active 
				span Trending
			.tabs--item 
				span Falling
	h1.tweets--title 
		span Tweets
	.tweets--blocks
		if mainPage
			- n = 3
		else 
			- n = 10
		- for (var i = 0; i < n; ++i) {
			.tweets--blocks--item
				img(src="images/tweet-img.jpg" alt="User image").item--image
				.item--content
					.item--content--header
						a(href="#").item--content--link Mirror Football
						.item--content--username-date @mirrorfootball • Feb 18
					p Donec et justo id risus sagittis rhoncus. Pellentesque rhoncus scelerisque pulvinar. Maecenas pellentesque urna nunc, quis #[a(href="#") egestas metus aliquet sed]…
					.item--content--footer
						i.fa.fa-heart
						span 16
						i.fa.fa-retweet
						span 16
						i.fa.fa-star
						span 16
		- }
	.tweets--footer
		.tweets--footer--button
			span More tweets