.js-modal
	.modal
		.modal--content
			.modal--content--header
				.modal--content--title
					.modal--content--title--heading Compare Managers
					.modal--content--title--subheading Select the two managers you want to compare
				.modal--content--close#js-close
					.close-button.js-modal-close
						.close-button--icon
					span Close
			.modal--content--blocks#js-scrollbar
				.scrollbar
					.track
						.thumb
							.end
				.viewport
					.overview
						.main--blocks
							- for (var i = 0; i < 12; ++i) {
								.blocks--item.blocks--item__trending.js-item
									figure
										img(src="images/manager-img.jpg").blocks--item--image
										.blocks--item--details
											.item--id
												span
													input(type="radio").js-radio
											.item--club
												img(src="images/club-img.png")
										figcaption.blocks--item--caption
											.item--title
												h1 Pochettino
												h2 Tottenham
											.item--tweets
												span Tweets
												.item--tweets--count 469
							- }