.mood
	.mood--header
		.mood--header--title
			span Mood
		.mood--header--controls
			span.controls--item.controls--item__active.js-mood-control Van Gaal
			span /
			span.controls--item.js-mood-control Hiddink
	.mood--blocks.js-mood-block(data-positive='100' data-negative='40')
		.mood--blocks--item.mood--blocks--item__active
			.mood--blocks--item--status
				.status--wrapper
					.status--wrapper--bar.js-positive-bar
			.mood--blocks--item--text Positive
		.mood--blocks--item
			.mood--blocks--item--status
				.status--wrapper
					.status--wrapper--bar.js-negative-bar
			.mood--blocks--item--text Negative

	.mood--blocks.js-mood-block(data-positive='40' data-negative='100')
		.mood--blocks--item.mood--blocks--item__active
			.mood--blocks--item--status
				.status--wrapper
					.status--wrapper--bar.js-positive-bar
			.mood--blocks--item--text Positive
		.mood--blocks--item
			.mood--blocks--item--status
				.status--wrapper
					.status--wrapper--bar.js-negative-bar
			.mood--blocks--item--text Negative