$browser-context: 16;
$default-orange: #f26322;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@import 'configs/_fonts.scss';
@import '../../../bower_components/normalize.css/normalize.css';

html, body {
	background-color: #000;
	font-size: $browser-context+px;
}
.wrapper {
	padding: 0 em(26);
	max-width: em(1391);
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	@media only screen and (max-width: 730px) {
		padding: 0;
	}
}
i:focus {
	outline: none;
}